
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /CMP/CMP2/BenJerry/WP_BJ/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /CMP/CMP2/BenJerry/WP_BJ/index.php [L]
</IfModule>

# END WordPress